*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    width: 1440px;
    /* ширина макета */
    height: 100%;
    line-height: 1;
    font-size: 16px;
    background-color: #2B2C3A;
    color: #fff;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.wrapper {
    min-height: 100%;
}


/* ======================================= */

.leftBar {
    z-index: 11;
    position: fixed;
    height: 100%;
    width: 280px;
    background: rgba(156, 165, 236, 0.04);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
}

.leftBar .logo {
    padding: 20px 30px 26px 30px;
}

.leftBar .leftBarMenu {
    padding: 20px 30px 4px 30px;
}

.leftBar .leftBarMenu p,
.leftBar .leftBarMenu .programms,
.leftBar .leftBarMenu .lectures {
    opacity: 0.5;
}

.leftBar .leftBarMenu p:hover,
.leftBar .leftBarMenu .programms:hover,
.leftBar .leftBarMenu .lectures:hover {
    opacity: 1;
}

.leftBar ul,
.leftBar a,
.leftBar p,
.leftBar .programms,
.leftBar .lectures {
    cursor: pointer;
}

.leftBar #programms,
.leftBar #lectures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.leftBar .menuClose {
    display: none !important;
    list-style: none;
}

.leftBar p,
.leftBar .programms,
.leftBar .lectures {
    margin-bottom: 16px;
}

.leftBar .menuToggle {
    background: none;
    cursor: pointer;
}

.leftBar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 16px;
    width: 280px;
}

.leftBar ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    opacity: 0.5;
}

.leftBar ul li:hover {
    background: rgba(255, 255, 255, 0.03);
    opacity: 1;
}

.leftBar ul li:hover .selectLine {
    opacity: 1;
}

.leftBar ul li:hover svg path {
    opacity: 1;
    fill: #6F6EFF;
}

.leftBar ul li span {
    margin-left: 24px;
}

.leftBar ul li .selectLine {
    width: 3px;
    height: 100%;
    background: #000;
    margin-right: 47px;
    background: #6F6EFF;
    -webkit-box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
    box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
    opacity: 0;
}

.leftBar .mailing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: auto;
    line-height: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.leftBar .mailing span {
    opacity: 0.5;
    font-size: 14px;
}

.leftBar .mailing .mailingSwitch {
    cursor: pointer;
}

.leftBar .switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 22px;
}

.leftBar .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.leftBar .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 16px;
}

.leftBar .switch .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.leftBar .switch input:checked+.slider {
    opacity: 1;
}

.leftBar .switch input:checked+.slider:before {
    -webkit-transform: translateX(19px);
    transform: translateX(19px);
    opacity: 1;
    background: #6F6EFF;
    -webkit-box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
    box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
}

.hLine {
    width: 100%;
    height: 1px;
    background: #D8D8D8;
    opacity: 0.1;
}

.topBar {
    z-index: 10;
    background-color: #2B2C3A;
    position: fixed;
    width: 1430px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 54px;
    padding-right: 30px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid rgba(216, 216, 216, 0.1);
}

.topBar .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 280px;
    font-size: 14px;
    line-height: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.topBar .information p {
    margin-right: 28px;
    opacity: 0.6;
    cursor: pointer;
}

.topBar .information p:hover {
    opacity: 1;
}

.topBar .information .vLine {
    width: 1px;
    height: 24px;
    background: #D8D8D8;
    opacity: 0.1;
}

.topBar .personal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.topBar .personal .achieves {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 13px;
    line-height: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 4px;
}

.topBar .personal .achieves .energy {
    padding-left: 3px;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.6);
}

.topBar .personal .achieves .energy span {
    padding-left: 10px;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
}

.topBar .personal .achieves p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 5px;
    height: 24px;
    margin-right: 10px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.topBar .personal .avatar {
    width: 44px;
    height: 44px;
}

.topBar .personal .account {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    padding-left: 13px;
    font-weight: normal;
    font-size: 14px;
    line-height: 10px;
}

.topBar .personal .account .online {
    font-weight: 600;
    font-size: 13px;
    color: #24CB8D;
    padding-left: 4px;
}

.topBar .personal .status {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 4px;
    height: 14px;
    margin-top: 8px;
    margin-left: 15px;
}

.topBar .personal .pro {
    background: -webkit-gradient(linear, left top, right top, from(#6B69F9), to(#6F6EFF));
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    -webkit-box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
    box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
}

.content {
    padding-top: 110px;
    padding-left: 335px;
    padding-right: 55px;
}

.content .course {
    padding-bottom: 60px;
}

.content .course .courseText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 25px;
}

.content .course .courseText .courseInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-transform: uppercase;
}

.content .course .courseText .courseInfo .level {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 7px;
    opacity: 0.4;
}

.content .course .courseText .courseInfo .title {
    font-size: 22px;
    line-height: 18px;
}

.content .course .courseText .lessons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    line-height: 17px;
    cursor: pointer;
}

.content .course .courseText .lessons .lessonsAll {
    background: -webkit-gradient(linear, left top, right top, from(#6B69F9), to(#6F6EFF));
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    border-radius: 4px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 5px;
}

.content .course .courseText .lessons .lessonsAll:hover {
    color: #6F6EFF;
    background: #fff;
}

.content .course .courseText .lessons .prev,
.content .course .courseText .lessons .next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    mix-blend-mode: normal;
    border: 1px solid rgba(255, 255, 255, 0.15);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
}

.content .course .courseText .lessons .prev:hover,
.content .course .courseText .lessons .next:hover {
    background: #6F6EFF;
}

.content .course .courseList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.content .course .courseList .lesson {
    background: rgba(255, 255, 255, 0.04);
    width: 255px;
    height: 294px;
    border-radius: 6px;
    margin-left: 10px;
}

.content .course .courseList .lesson:first-child {
    margin-left: 0;
}

.content .course .courseList .lesson .lessonWrapper {
    height: 144px;
}

.content .course .courseList .lesson .lessonWrapper img {
    border-radius: 6px 6px 0px 0px;
}

.content .course .courseList .lesson .lessonType {
    position: relative;
    width: 50px;
    background: -webkit-gradient(linear, left top, right top, from(#6B69F9), to(#6F6EFF));
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    border-radius: 4px;
    font-size: 12px;
    line-height: 12px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 20px;
    margin-top: -274px;
}

.content .course .courseList .lesson .lessonContainer {
    margin: 15px 15px 15px 15px;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.content .course .courseList .lesson .lessonContainer .lessonText .title {
    font-size: 16px;
    line-height: 12px;
}

.content .course .courseList .lesson .lessonContainer .lessonText .description {
    font-size: 14px;
    line-height: 18px;
    opacity: 0.5;
    mix-blend-mode: normal;
    margin-top: 10px;
}

.content .course .courseList .lesson .lessonContainer .interaction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 13px;
    line-height: 10px;
}

.content .course .courseList .lesson .lessonContainer .interaction .watch {
    background: -webkit-gradient(linear, left top, right top, from(#6B69F9), to(#6F6EFF));
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    border-radius: 4px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.content .course .courseList .lesson .lessonContainer .interaction .watch:hover {
    color: #6F6EFF;
    background: #fff;
}

.content .course .courseList .lesson .hLine {
    position: relative;
    width: 255px;
    bottom: 60px;
}

.dropDown .programms,
.dropDown .lectures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.dropDown input {
    opacity: 0;
    width: 0;
    height: 0;
}

.dropDown ul {
    display: none;
    /* Прячем */
}

.dropDown :checked~label i {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dropDown :checked~ul {
    display: inline-block;
    /* Показываем меню */
}


/*# sourceMappingURL=style.css.map */